<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635272463638-jfg6nmp0o075dtga2lmg2e25b6pj0n38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635272463638-jfg6nmp0o075dtga2lmg2e25b6pj0n38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635272463638-7vdcfdqr3aatnq97i83tdi5lqdodtvkq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBIbDJ9OX0eQt5DjARJgGbN7RU_wSvjAc</string>
	<key>GCM_SENDER_ID</key>
	<string>635272463638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dantas.thiago.cleanTasks</string>
	<key>PROJECT_ID</key>
	<string>cleantasks-5ab08</string>
	<key>STORAGE_BUCKET</key>
	<string>cleantasks-5ab08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635272463638:ios:fa44d5bb74be52c17abc37</string>
	<key>DATABASE_URL</key>
	<string>https://cleantasks-5ab08.firebaseio.com</string>
</dict>
</plist>